---
kind: ConfigMap
apiVersion: v1
metadata:
  name: nginx-configuration
  namespace: {{ ingress_nginx_namespace }}
  labels:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/part-of: ingress-nginx
data:
  proxy-real-ip-cidr: '{{ ingress_nginx_loadbalancer_cidr }}'
  use-proxy-protocol: 'true'
  use-forwarded-headers: 'true'
