---
kind: ConfigMap
apiVersion: v1
metadata:
  name: tcp-services
  namespace: {{ ingress_nginx_namespace }}
  labels:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/part-of: ingress-nginx
{% if ingress_nginx_tcp_services %}
data:
{% for item in ingress_nginx_tcp_services %}
  {{ item.port }}: '{{ item.service }}'
{% endfor %}
{% endif %}
